@use '@/styles/variables.scss' as var;

.titleContainer {
}

.medium {
  font-size: 21px;
  font-weight: 700;
  line-height: 33.6px;

  @media (min-width: var.$tablet-breakpoint) {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
}
.small {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.purple {
  color: #6f4ff2;
}

.black {
  color: #000;
}
